/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/

.footer-area {
    padding: 4em 2em;
    color: white;
    background: #72b02c;
}

.widgets {
    max-width: 65em;
    margin: 0 auto;
    text-align: center;
}

.widget {
    margin-bottom: 4em;
    font-family: 'Gentium Basic', serif;
}
.widget a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid hsla(0, 0%, 100%, .2);
}

.widget div.mission {
    text-align: justify;
    margin: 20px;
}

.widget a:hover,
.widget a:focus {
    border-bottom-color: hsla(0, 0%, 100%, 1);
}

.rules {
    text-align: left;
}
ul.our-products, p.mission, p.contact {
    text-align: justify;
  
}

@media screen and (min-width: 40em) {
    .widgets {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .widget {
        box-sizing: border-box;
        width: calc(50% - 1em);
        margin: 0 .5em 1em;
        border: 1px solid hsla(0, 0%, 100%, .2);
        padding:10px;
    }

}

@media screen and (min-width: 60em) {
    .widget {
        width: calc(33% - .66666667em);
        margin: 0 .4em;
    }
}
