/*--------------------------------------------------------------
Images - reset 
--------------------------------------------------------------*/

.masthead img {
	width: 120px;
}

.img {
    display: block;
    
}

figure {
    margin: 0;
    padding: 0;
}

.christmas-banner {
	background-image: url("../images/christmas-banner.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.christmas-banner h1.intro-title {
	padding: 150px 70px 0;
	font-size: 1.1em;	
}