/*--------------------------------------------------------------
Levels
--------------------------------------------------------------*/

.levels {
    background: white;
}

.level {
    width: 75%;
    margin: 0 auto 0.5em;
}

.level a {
    text-decoration: none;
    color: black;
}

.level-image {
    width: 50%;
    margin: 0 auto;
    border: 10px solid hsl(0, 0%, 80%);
    border-radius: 50%;
    overflow: hidden;
}

.levels-fp {
    background: #e6e6e6;
    margin-bottom: 50px;
}

.level a:hover > .level-image,
.level a:focus > .level-image {
    border-color: hsl(0, 0%, 60%);
}

.level-title {
    text-align: center;
}

.level-blurb {
    text-align: left;
}

.level-blurb {
    font-style: italic;
}

@media screen and (min-width: 650px) {
    .level {
        width: 50%;
    }
}

@media screen and (min-width: 800px) {
    .level-list {
        display: flex;
        max-width: 50em;
        margin: 2em auto 0;
        padding: 0 2em;
    }

    .level {
        padding: 2em;
        font-size: 80%;
    }

    .level-image {
        width: 60%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 799px) {
    .level {
        border-bottom: 1px solid #9d9d9d;
        margin-bottom: 30px;
    }
    
    .level-blurb {
        text-align: justify;
    }
    
    .bee {
        border: none;
    }
}
    
