/*--------------------------------------------------------------
Header styles minus menu
--------------------------------------------------------------*/

.masthead {
    background: #72b02c;
    height: 140px;
}

.masthead h1 {
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 768px) {
    .masthead div.site-branding h1 {
        margin-top: 0;
    }   
}

@media screen and (min-width: 50em) {
    .masthead {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.site-title {
    margin: 0;
    padding:.2em .5em;
    font-size: 2em;
    font-weight: 300;
    color: black;
}

.site-title a {
    color: hsl(0, 0%, 20%);
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: underline;
}
